GENERAL::false#?#true
TYPE::Ord[priority]::false#?#false#?#false#?#true#?#white#?#Ord[priority]#?#ellipse
TYPE::State::true#?#true#?#false#?#true#?#white#?#State#?#ellipse
TYPE::pid::true#?#false#?#false#?#true#?#white#?#pid#?#ellipse
TYPE::label_t::true#?#false#?#false#?#true#?#white#?#label_t#?#ellipse
TYPE::priority::true#?#false#?#false#?#true#?#white#?#priority#?#ellipse
TYPE::Ord[State]::false#?#false#?#false#?#true#?#white#?#Ord[State]#?#ellipse
RELATION::label_t::true#?#false#?#false#?#true#?#none#?#black#?#label_t
RELATION::Ord[priority]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[priority]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[State]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[priority]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[State]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[State]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[State]
RELATION::Ord[State]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::State$Q::true#?#false#?#false#?#true#?#none#?#red#?#Q
RELATION::State$P::true#?#false#?#false#?#true#?#none#?#blue#?#P
RELATION::State::true#?#false#?#false#?#true#?#none#?#black#?#State
RELATION::s::true#?#false#?#false#?#true#?#none#?#black#?#s
RELATION::Ord[priority]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[priority]
RELATION::pid::true#?#false#?#false#?#true#?#none#?#black#?#pid
RELATION::pre::true#?#false#?#false#?#true#?#none#?#black#?#pre
RELATION::i2::true#?#false#?#false#?#true#?#none#?#black#?#i2
RELATION::i1::true#?#false#?#false#?#true#?#none#?#black#?#i1
RELATION::State$turn::true#?#false#?#false#?#true#?#none#?#black#?#turn
RELATION::L4::true#?#false#?#true#?#true#?#none#?#black#?#L4
RELATION::L3::true#?#false#?#true#?#true#?#none#?#black#?#L3
RELATION::State$localj::true#?#false#?#false#?#true#?#none#?#green#?#localj
RELATION::L2::true#?#false#?#true#?#true#?#none#?#black#?#L2
RELATION::L1::true#?#false#?#true#?#true#?#none#?#black#?#L1
RELATION::L0::true#?#false#?#true#?#true#?#none#?#black#?#L0
RELATION::priority::true#?#false#?#false#?#true#?#none#?#black#?#priority
RELATION::Ord[priority]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Ord[State]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
