GENERAL::true#?#true
TYPE::State::true#?#true#?#false#?#true#?#white#?#State#?#ellipse
TYPE::Ord[Process]::false#?#false#?#false#?#true#?#white#?#Ord[Process]#?#ellipse
TYPE::Process::true#?#false#?#false#?#true#?#white#?#Process#?#ellipse
TYPE::Ord[State]::false#?#false#?#false#?#true#?#white#?#Ord[State]#?#ellipse
RELATION::State$init::true#?#false#?#false#?#true#?#none#?#black#?#init
RELATION::Process::true#?#false#?#false#?#true#?#none#?#black#?#Process
RELATION::Ord[Process]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[State]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Process]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[State]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[Process]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Process]
RELATION::Ord[State]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[State]
RELATION::Ord[State]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::State$leader::true#?#false#?#true#?#true#?#none#?#black#?#leader
RELATION::State::true#?#false#?#false#?#true#?#none#?#black#?#State
RELATION::State$sends::true#?#false#?#false#?#true#?#none#?#black#?#sends
RELATION::Process$rightNeighbor::true#?#false#?#false#?#false#?#none#?#blue#?#rightNeighbor
RELATION::State$buffer::true#?#false#?#false#?#false#?#none#?#red#?#buffer
RELATION::State$reads::true#?#false#?#false#?#true#?#none#?#black#?#reads
RELATION::Ord[State]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Ord[Process]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Ord[Process]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::State$runs::true#?#false#?#true#?#true#?#none#?#black#?#runs
