GENERAL::true#?#true
TYPE::State::true#?#true#?#false#?#true#?#white#?#State#?#ellipse
TYPE::Val::true#?#false#?#false#?#true#?#white#?#Val#?#ellipse
TYPE::Ord[Process]::false#?#false#?#false#?#true#?#white#?#Ord[Process]#?#ellipse
TYPE::Process::true#?#false#?#false#?#true#?#white#?#Process#?#ellipse
TYPE::Ord[Val]::false#?#false#?#false#?#true#?#white#?#Ord[Val]#?#ellipse
TYPE::Ord[State]::false#?#false#?#false#?#true#?#white#?#Ord[State]#?#ellipse
RELATION::State$val::true#?#false#?#false#?#false#?#none#?#black#?#val
RELATION::Ord[Process]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Process::true#?#false#?#false#?#true#?#none#?#black#?#Process
RELATION::Ord[State]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Process]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[State]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Val$rot::false#?#false#?#false#?#true#?#none#?#black#?#rot
RELATION::Val::true#?#false#?#false#?#true#?#none#?#black#?#Val
RELATION::Ord[Process]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Process]
RELATION::Ord[Val]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Ord[State]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[State]
RELATION::Ord[State]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Process$pRot::false#?#false#?#false#?#true#?#none#?#black#?#pRot
RELATION::State::true#?#false#?#false#?#true#?#none#?#black#?#State
RELATION::Ord[Val]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Val]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Val$nextVal::true#?#false#?#false#?#false#?#none#?#green#?#nextVal
RELATION::Ord[Val]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Val]
RELATION::Process$rightNeighbor::true#?#false#?#false#?#false#?#none#?#blue#?#rightNeighbor
RELATION::Ord[Val]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[Process]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Ord[Process]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[State]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::State$running::true#?#false#?#true#?#true#?#none#?#black#?#running
