GENERAL::true#?#true
TYPE::Process::true#?#false#?#false#?#true#?#white#?#Process#?#ellipse
TYPE::Ord[Tick]::false#?#false#?#false#?#true#?#white#?#Ord[Tick]#?#ellipse
TYPE::Tick::true#?#true#?#false#?#true#?#white#?#Tick#?#ellipse
TYPE::Val::true#?#false#?#false#?#true#?#white#?#Val#?#ellipse
RELATION::FirstProc::true#?#false#?#false#?#true#?#none#?#black#?#FirstProc
RELATION::Process::true#?#false#?#false#?#true#?#none#?#black#?#Process
RELATION::Ord[Tick]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Tick]
RELATION::Ord[Tick]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Val$nextVal::true#?#false#?#false#?#false#?#none#?#green#?#nextVal
RELATION::Ord[Tick]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Process$rightNeighbor::true#?#false#?#false#?#false#?#none#?#blue#?#rightNeighbor
RELATION::Ord[Tick]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Tick::true#?#false#?#false#?#true#?#none#?#black#?#Tick
RELATION::Val::true#?#false#?#false#?#true#?#none#?#black#?#Val
RELATION::Ord[Tick]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Tick$priv::true#?#false#?#true#?#true#?#none#?#black#?#priv
RELATION::Tick$val::true#?#false#?#false#?#true#?#none#?#black#?#val
