GENERAL::true#?#true
TYPE::Tick::true#?#true#?#false#?#true#?#white#?#Tick#?#ellipse
TYPE::Ord[Bool]::false#?#false#?#false#?#true#?#white#?#Ord[Bool]#?#ellipse
TYPE::Process::true#?#false#?#false#?#true#?#white#?#Process#?#ellipse
TYPE::Ord[Tick]::false#?#false#?#false#?#true#?#white#?#Ord[Tick]#?#ellipse
TYPE::Bool::true#?#false#?#false#?#true#?#white#?#Bool#?#ellipse
RELATION::Ord[Bool]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Tick::true#?#false#?#false#?#true#?#none#?#black#?#Tick
RELATION::Ord[Tick]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[Tick]$last::true#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::Tick$ring::true#?#false#?#false#?#false#?#none#?#red#?#ring
RELATION::Process::true#?#false#?#false#?#true#?#none#?#black#?#Process
RELATION::Ord[Bool]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Bool]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Ord[Tick]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Tick]
RELATION::True::true#?#false#?#true#?#true#?#none#?#black#?#True
RELATION::Ord[Tick]$prev::true#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Tick]$next::true#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Tick$T::true#?#true#?#false#?#true#?#none#?#black#?#T
RELATION::Tick$S::true#?#true#?#false#?#true#?#none#?#black#?#S
RELATION::False::true#?#false#?#true#?#true#?#none#?#black#?#False
RELATION::Ord[Bool]$first::true#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Tick$runs::true#?#false#?#true#?#true#?#none#?#black#?#runs
RELATION::Process$AP2::true#?#false#?#false#?#true#?#none#?#black#?#AP2
RELATION::Process$AP1::true#?#false#?#false#?#true#?#none#?#black#?#AP1
RELATION::Bool::true#?#false#?#false#?#true#?#none#?#black#?#Bool
RELATION::Bool$oppositeBoolValue::false#?#false#?#false#?#true#?#none#?#black#?#oppositeBoolValue
RELATION::Tick$dir::true#?#true#?#false#?#true#?#none#?#black#?#dir
RELATION::Process$rightNeighbor::true#?#false#?#false#?#true#?#none#?#black#?#rightNeighbor
RELATION::Ord[Bool]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Bool]
