GENERAL::true#?#true
TYPE::Ord[Bool]::false#?#false#?#false#?#true#?#white#?#Ord[Bool]#?#ellipse
TYPE::DAGEval::true#?#false#?#false#?#true#?#white#?#DAGEval#?#ellipse
TYPE::Assignment::true#?#false#?#false#?#true#?#white#?#Assignment#?#ellipse
TYPE::BoolNode::true#?#false#?#false#?#true#?#white#?#BoolNode#?#ellipse
TYPE::Lit::true#?#false#?#false#?#true#?#white#?#Lit#?#ellipse
TYPE::Bool::true#?#false#?#false#?#true#?#white#?#Bool#?#ellipse
TYPE::Var::true#?#false#?#false#?#true#?#white#?#Var#?#ellipse
RELATION::Ord[Bool]$last::false#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::NotNode::true#?#false#?#true#?#true#?#none#?#black#?#NotNode
RELATION::DAGEval$trueNodes::false#?#false#?#false#?#true#?#none#?#black#?#trueNodes
RELATION::Assignment::true#?#false#?#false#?#true#?#none#?#black#?#Assignment
RELATION::Var::true#?#false#?#false#?#true#?#none#?#black#?#Var
RELATION::Ord[Bool]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Bool]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::True::false#?#false#?#false#?#true#?#none#?#black#?#True
RELATION::Lit$var::true#?#false#?#false#?#true#?#none#?#black#?#var
RELATION::Lit::true#?#false#?#false#?#true#?#none#?#black#?#Lit
RELATION::False::false#?#false#?#false#?#true#?#none#?#black#?#False
RELATION::BoolNode$lit::true#?#false#?#false#?#true#?#none#?#black#?#lit
RELATION::NegLit::true#?#false#?#true#?#true#?#none#?#black#?#NegLit
RELATION::DAGEval$assign::false#?#false#?#false#?#true#?#none#?#black#?#assign
RELATION::AndNode::true#?#false#?#true#?#true#?#none#?#black#?#AndNode
RELATION::DAGEval::false#?#false#?#false#?#true#?#none#?#black#?#DAGEval
RELATION::Ord[Bool]$first::false#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::BoolNode::true#?#false#?#false#?#true#?#none#?#black#?#BoolNode
RELATION::BoolRoot::true#?#false#?#true#?#true#?#none#?#black#?#BoolRoot
RELATION::AndOrNode::true#?#false#?#false#?#true#?#none#?#black#?#AndOrNode
RELATION::PosLit::true#?#false#?#true#?#true#?#none#?#black#?#PosLit
RELATION::Bool::false#?#false#?#false#?#true#?#none#?#black#?#Bool
RELATION::OrNode::true#?#false#?#true#?#true#?#none#?#black#?#OrNode
RELATION::Bool$oppositeBoolValue::false#?#false#?#false#?#true#?#none#?#black#?#oppositeBoolValue
RELATION::Assignment$varVal::true#?#false#?#false#?#true#?#none#?#black#?#varVal
RELATION::LitNode::true#?#false#?#true#?#true#?#none#?#black#?#LitNode
RELATION::BoolNode$children::true#?#false#?#false#?#true#?#none#?#green#?#children
RELATION::Ord[Bool]::true#?#false#?#false#?#true#?#none#?#black#?#Ord[Bool]
