GENERAL::true#?#true
TYPE::Assignment::false#?#false#?#false#?#true#?#white#?#Assignment#?#ellipse
TYPE::Switch::true#?#false#?#false#?#true#?#white#?#Switch#?#ellipse
TYPE::Ord[SeqIdx]::false#?#false#?#false#?#true#?#white#?#Ord[SeqIdx]#?#ellipse
TYPE::SeqIdx::true#?#false#?#false#?#true#?#white#?#SeqIdx#?#ellipse
TYPE::SwitchDAGEval::false#?#false#?#false#?#true#?#white#?#SwitchDAGEval#?#ellipse
TYPE::BoolNode::true#?#false#?#false#?#true#?#white#?#BoolNode#?#ellipse
TYPE::Visit::true#?#false#?#false#?#true#?#white#?#Visit#?#triangle
TYPE::Bool::false#?#false#?#false#?#true#?#white#?#Bool#?#ellipse
TYPE::Witness::true#?#true#?#false#?#true#?#white#?#Witness#?#ellipse
TYPE::Ord[Bool]::false#?#false#?#false#?#true#?#white#?#Ord[Bool]#?#ellipse
TYPE::Seq[BoolNode]::true#?#false#?#false#?#true#?#white#?#Seq[BoolNode]#?#ellipse
TYPE::Bit::true#?#false#?#false#?#true#?#white#?#Bit#?#ellipse
TYPE::DAGEval::false#?#false#?#false#?#true#?#white#?#DAGEval#?#ellipse
TYPE::Lit::true#?#false#?#false#?#true#?#white#?#Lit#?#ellipse
TYPE::Var::true#?#false#?#false#?#true#?#white#?#Var#?#ellipse
RELATION::AndNode::true#?#false#?#true#?#true#?#none#?#black#?#AndNode
RELATION::True::true#?#false#?#true#?#true#?#none#?#black#?#True
RELATION::OrNode::true#?#false#?#true#?#true#?#none#?#black#?#OrNode
RELATION::LitNode::true#?#false#?#true#?#true#?#none#?#black#?#LitNode
RELATION::Ord[SeqIdx]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Assignment$varVal::false#?#false#?#false#?#true#?#none#?#black#?#varVal
RELATION::DAGEval::true#?#false#?#false#?#true#?#none#?#black#?#DAGEval
RELATION::BoolNode$models/SwitchBooleanDag/SwitchSetterNode$switchSet::true#?#false#?#false#?#true#?#none#?#black#?#switchSet
RELATION::SwitchableConstNode::true#?#false#?#true#?#true#?#none#?#black#?#SwitchableConstNode
RELATION::Var::true#?#false#?#false#?#true#?#none#?#black#?#Var
RELATION::BoolNode$children::true#?#false#?#false#?#true#?#none#?#green#?#children
RELATION::NotNode::true#?#false#?#true#?#true#?#none#?#black#?#NotNode
RELATION::Ord[Bool]::false#?#false#?#false#?#true#?#none#?#black#?#Ord[Bool]
RELATION::Visit$models/SwitchBooleanDag/Visit$children::true#?#false#?#false#?#true#?#none#?#cyan#?#children
RELATION::BoolNode$lit::true#?#false#?#false#?#true#?#none#?#black#?#lit
RELATION::SwitchSetterNode::true#?#false#?#true#?#true#?#none#?#black#?#SwitchSetterNode
RELATION::SeqIdx::true#?#false#?#false#?#true#?#none#?#black#?#SeqIdx
RELATION::Witness$grdRoot::true#?#false#?#true#?#true#?#none#?#black#?#grdRoot
RELATION::Ord[Bool]$first::false#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[Bool]$next::false#?#false#?#false#?#true#?#none#?#black#?#next
RELATION::Seq[BoolNode]::true#?#false#?#false#?#true#?#none#?#black#?#Seq[BoolNode]
RELATION::Ord[SeqIdx]$last::false#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::BoolNode$bit::true#?#false#?#false#?#true#?#none#?#black#?#bit
RELATION::Witness::true#?#false#?#false#?#true#?#none#?#black#?#Witness
RELATION::SwitchDAGEval$assign::true#?#false#?#false#?#true#?#none#?#black#?#assign
RELATION::Visit$node::true#?#false#?#false#?#true#?#none#?#magenta#?#node
RELATION::Ord[SeqIdx]$first::false#?#false#?#false#?#true#?#none#?#black#?#first
RELATION::Ord[SeqIdx]::false#?#false#?#false#?#true#?#none#?#black#?#Ord[SeqIdx]
RELATION::Switch::true#?#false#?#false#?#true#?#none#?#black#?#Switch
RELATION::False::true#?#false#?#true#?#true#?#none#?#black#?#False
RELATION::AndOrNode::true#?#false#?#false#?#true#?#none#?#black#?#AndOrNode
RELATION::Ord[SeqIdx]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::Ord[Bool]$last::false#?#false#?#false#?#true#?#none#?#black#?#last
RELATION::NegLit::true#?#false#?#false#?#true#?#none#?#black#?#NegLit
RELATION::BoolNode::true#?#false#?#false#?#true#?#none#?#black#?#BoolNode
RELATION::DAGEval$trueNodes::true#?#false#?#false#?#true#?#none#?#black#?#trueNodes
RELATION::SwitchDAGEval::true#?#false#?#false#?#true#?#none#?#black#?#SwitchDAGEval
RELATION::Lit::true#?#false#?#false#?#true#?#none#?#black#?#Lit
RELATION::SwitchDAGEval$trueVisits::true#?#false#?#false#?#true#?#none#?#black#?#trueVisits
RELATION::Witness$origRoot::true#?#false#?#true#?#true#?#none#?#black#?#origRoot
RELATION::Assignment::true#?#false#?#false#?#true#?#none#?#black#?#Assignment
RELATION::BoolNode$childSeq::true#?#false#?#false#?#true#?#none#?#black#?#childSeq
RELATION::Visit::true#?#false#?#false#?#true#?#none#?#black#?#Visit
RELATION::DAGEval$assign::true#?#false#?#false#?#true#?#none#?#black#?#assign
RELATION::BoolNode$trueBits::true#?#false#?#false#?#true#?#none#?#black#?#trueBits
RELATION::Ord[Bool]$prev::false#?#false#?#false#?#true#?#none#?#black#?#prev
RELATION::PosLit::true#?#false#?#false#?#true#?#none#?#black#?#PosLit
RELATION::BoolNode$switchRead::true#?#false#?#false#?#true#?#none#?#black#?#switchRead
RELATION::Bool$oppositeBoolValue::false#?#false#?#false#?#true#?#none#?#black#?#oppositeBoolValue
RELATION::Bit::true#?#false#?#false#?#true#?#none#?#black#?#Bit
RELATION::Lit$var::true#?#true#?#false#?#true#?#none#?#black#?#var
RELATION::Bool::true#?#false#?#false#?#true#?#none#?#black#?#Bool
RELATION::Witness$grdMap::true#?#false#?#false#?#true#?#none#?#blue#?#grdMap
RELATION::Seq[BoolNode]$seqElems::true#?#false#?#false#?#true#?#none#?#black#?#seqElems
